<a href="https://colab.research.google.com/github/guptadeepali1995/Aerofit/blob/main/Functional_Programming_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#How many objects would be created in the complete run of the following code?
class A:
  x=[]
  def __init__(self):
    self.x.append(1)

A()

obj1 = A()

if A():
    print(A())

<__main__.A object at 0x79bbf4d730d0>

In [ ]:
A.x

[1, 1, 1]

In [ ]:
y=0

if y:
  print("hahahah")

In [ ]:
class Counter:
    def __init__(self):
        self.count=5
        self.count=count+1

c = Counter()

print(c.count)

NameError: ignored

In [ ]:
class A:
    def __init__(self, x):
        self.a = x

class B:
    def __init__(self, y):
        self.b = y

# C inherits from both A and B

class C (A,B):
  def __init__(self, x,y,z):
    #super().__init__(x,y)

   # super().__init__(x)
  #  super().__init__(y)

    A.__init__(self,x)
    B.__init__(self,y)

    self.c = z

In [ ]:
c1=C(1,2,3)

In [ ]:
c1.a

1

In [ ]:
c1.b

2

In [ ]:
class A:
  pass

class B (A):
  pass

class C (B):
  x=5

class D (A):
  x=10

class E (C,D):
  pass

In [ ]:
e1= E()

e1.x

5

In [ ]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [ ]:
class A:
  pass

class B (A):
  pass

class C (B):
  x=5

class D (A):
  pass

class E (D,C):
  x=10

In [ ]:
e1= E()

e1.x

10

In [ ]:
#functional Programming

def square (x):
  return x**2

In [ ]:
xx=square(5)

25

In [ ]:
xx= lambda x: x**2

In [ ]:
xx(6)

36

In [ ]:
type(xx)

function

In [ ]:
(lambda x: x**2) (9)

81

In [ ]:
#func = lambda argument: return "Output"

In [ ]:
#x> 10, x otherwise 0


(lambda x: x if x>10 else 0) (30)

30

In [ ]:
s=[5,6,3,2,7,8,9]

In [ ]:
sorted_list=sorted (s)

In [ ]:
sorted_list

[2, 3, 5, 6, 7, 8, 9]

In [ ]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
    {"name": "D", "marks": 70},
    {"name": "E", "marks": 60},
]

In [ ]:
students[0]> students [1]

TypeError: ignored

In [ ]:
get_value= lambda x: x["marks"]

In [ ]:
get_value(students[0])

50

In [ ]:
get_value(students[0]) < get_value(students[1])

True

In [ ]:
sorted (students, key=lambda x: x["marks"] )

[{'name': 'C', 'marks': 40},
 {'name': 'A', 'marks': 50},
 {'name': 'E', 'marks': 60},
 {'name': 'D', 'marks': 70},
 {'name': 'B', 'marks': 100}]

In [ ]:
#high order function

def suraaj(fees):
  def batch(x):
    return x*fees

  return batch

In [ ]:
y = suraaj(1000)

In [ ]:
type(y)

function

In [ ]:
y(25)

25000

In [ ]:
def foo ():
  print("Hi my name is foo")

In [ ]:
foo()

Hi my name is foo

In [ ]:
def foo ():
  print("-- "*25)
  print("Hi my name is foo")
  print("-- "*25)

In [ ]:
foo()

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
Hi my name is foo
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

In [ ]:
def foo(funct):

  def bar():
    print("-- "*25)
    funct()
    print("-- "*25)

  return bar

In [ ]:
def funct():
  print("hello my name is suraaj")

In [ ]:
def square():
  print( 4**3)

In [ ]:
yy= foo(square)

In [ ]:
yy()

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
64
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

In [ ]:
square()

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
64
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

In [ ]:
@foo
def bhavesh():
  print( "hello ,my name is Bhavesh")

In [ ]:
bhavesh()

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
hello ,my name is Bhavesh
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --